{{> menu id="about"}}
<div class="ui two column middle aligned grid basic segment">
  <div class="column">
    <section class="ui top aligned segment">
      <h3>
        Weathertop 2 release 4
      </h3>
      <p>
        Use this app to view weather station readings from Irish weather stations. Manually or autogenerate readings and view measurement graphs.
      </p>
    </section>
  </div>
    <div class="column">
      <img class="centered large ui image" src="/images/weathericons.png">
    </div>
</div>